In [5]:
import numpy as np
import pandas as pd

In [21]:
with open(r'C:\Users\ayush\Downloads/currencies.txt', 'r') as f:
    contents = f.readlines()                                            #reading lines

In [22]:
contents[0]

'AUD\t1.0345157\tAustralian Dollar\n'

In [9]:
for i in range(len(contents)):                           #removing spaces and newlines
    contents[i] = contents[i].split('\t')
    contents[i][2] = contents[i][2].replace('\n', '')

In [10]:
contents = pd.DataFrame(contents)
contents

      0           1                   2
0   AUD   1.0345157   Australian Dollar
1   CHF   1.0237414         Swiss Franc
2   CNY   0.1550176        Chinese Yuan
3   DKK   0.1651442        Danish Krone
4   EUR   1.2296544                Euro
5   GBP   1.5550989       British Pound
6   HKD   0.1270207    Hong Kong Dollar
7   INR   0.0177643        Indian Rupee
8   JPY  0.01241401        Japanese Yen
9   MXN   0.0751848        Mexican Peso
10  MYR   0.3145411   Malaysian Ringgit
11  NOK   0.1677063     Norwegian Krone
12  NZD   0.8003591  New Zealand Dollar
13  PHP   0.0233234     Philippine Peso
14  SEK    0.148269       Swedish Krona
15  SGD    0.788871    Singapore Dollar
16  THB   0.0313789           Thai Baht

In [11]:
contents = contents.iloc[:,[0,1]]                 #ignoring the last column

In [12]:
for i in range(len(contents)):
    contents[1][i] = float(contents[1][i])

C:\Users\ayush\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
dict

dict

In [14]:
arr1= np.array(contents.iloc[:,0])              #2 diff array for short form of currency and conversion rate
arr2 = np.array(contents.iloc[:,1])

In [15]:
type(arr2)

numpy.ndarray

In [16]:
dict = {}
for i, j in zip(arr1,arr2):             #key value pairs in dictionary
    dict[i]= j

In [17]:
def exchange(symbol, rate):
    for i in dict:
        if i == symbol:                             #finding the currency
            multiplier = dict[i]
            return(rate*multiplier)

In [18]:
exchange('JPY',100)

1.241401

In [19]:
a = input("Please enter the symbol: ")
b = float(input("Please enter the amount you want to convert: "))

Please enter the symbol: INR
Please enter the amount you want to convert: 10000

In [20]:
print(exchange(a,b))

177.643